@import "tailwindcss";
@import "../../node_modules/preline/variants.css";
@plugin "daisyui" {
	themes: all;
}
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

/* Preline UI */
@source "../../node_modules/preline/dist/*.js";

@theme {
	--font-orbitron: "Orbitron", sans-serif;
	--font-space-mono: "Space Mono", monospace;
	--grid-template-columns-30: repeat(30, minmax(0, 1fr));

	/* Map our internal vars to DaisyUI's dynamic colors */
	--color-primary: var(--p);
	/* RGB fallback for our shadow logic */
	--color-primary-rgb: 169, 145, 247;

	--animate-scan: scan 2s linear infinite;
}

@keyframes scan {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(200%);
	}
}
