---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Hero from "../components/hero.astro";
import Timeline from "../components/timeline";
import Footer from "../components/footer";
import Net from "../components/net.astro";
import TechStack from "../components/techstack.astro";

---

<Layout title="Rounak Sen">
	<main>
		<Navbar />
		<Hero />
		<!-- <div class="h-[15vh]" /> -->
		<TechStack />
		<Timeline />
		<Net />
		<Footer />
	</main>
	
</Layout>
