---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Hero from "../components/hero.astro";
import Education from "../components/education.astro";
import Footer from "../components/footer.astro";
import Net from "../components/net.astro";
import TechStack from "../components/techstack.astro";
import About from "../components/about.astro";
import Experience from "../components/experience.astro";
import Spotify from "../components/spotify.astro";

---

<Layout title="Rounak Sen">
	<main class="antialiased overflow-hidden">
		<Navbar />
		<Hero />
		<About />
		<Education />
		<div class="h-[15vh]"></div>
		<TechStack />
		<Experience />
		<Spotify />
		<Net />
		<Footer bool={true} />
	</main>
</Layout>

