---
import { Image } from "astro:assets";

const { title, icons } = Astro.props;
---

<div class="flex flex-col my-10 overflow-y-auto justify-items-center md:mx-24 mx-5">
    <h1 class="my-5 text-2xl font-bold text-center md:text-4xl text-primary" data-aos="fade-up">{title}</h1>
    <ul class="flex flex-wrap justify-center gap-5">
        {
            Object.entries(icons).map(([name, icon]) => (
                <li class="mb-1 tooltip" data-tip={name}>
                    <div class="bg-white mask mask-squircle hover:grayscale hover:scale-125">
                        <Image
                            data-aos="zoom-in"
                            src={icon}
                            alt={name}
                            inferSize
                            onload="this.style.opacity=1"
                            class="w-14 h-14 p-1  m-1.5"
                        />
                    </div>
                </li>
            ))
        }
    </ul>
</div>

<style>
    .tooltip {
        --tooltip-color: white;
        --tooltip-text-color: black;
    }
</style>
